.likes-container {
    float: right;
    margin-right: 35px;
    margin-top: 40px;
}

.like-button {
    float: left;
    border-radius: 5px;
}

.like-button > span {
    width: 34px;
    height: 34px;
    display: block;
}

.like-button.up-vote {
    background: url("../../assets/images/thumbs.jpg");
}

.like-button.down-vote {
    background: url(../../assets/images/thumbs.jpg) -1% 33.5%;
}

.like-counter {
    float: left;
    padding: 8px 7px;
    font-size: 18px;
}

.article {}

.article .left {
    width: 26%;
    float: left;
}

.article .content {
    display: inline-block;
    padding: 30px 40px 30px 0;
}

.article .right {
    width: 74%;
    float: right;
}

.article .right > p {
    font-size: 16px;
    word-wrap: break-word;
    text-align: justify;
}

.article .right > h1 {
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
}

.article.odd {}

.article.even {
    color: #ffffff;
    background: #7a3053;
}

.article.even .comment-button {
    border-color: #ffffff;
}

.article.even .comment-button > span {
    color: #ffffff;
}

.comment-section {
    padding: 2% 4% 4% 25%;
}

.comment-button {
    border: 2px solid #112433;
    border-radius: 5px;
    background: transparent;
    display: inline-block;
}

.comment-button > span {
    text-transform: uppercase;
    color: #112433;
    display: block;
    padding: 5px 20px;
}

.existing-comments {
    margin-top: 20px;
}

.existing-comment {
    width: 100%;
}

.existing-comment .comment-controls {
    padding: 20px 0 40px 0;
}

.existing-comment .comment-controls .inner {
    float: right;
}

.existing-comment .comment-controls .comment-button {
    float: left;
    margin-left: 20px;
}

.existing-comment hr.existing-comment-break {
    border-bottom: 1px solid #80878d;
    display: block;
    margin: 20px 0;
}

.existing-comment .post .poster-name {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 20px;
}

.existing-comment .post .post-text {
    text-align: justify;
    word-wrap: break-word
}

