<div [ngClass]="getCssClass()">
	<div class="content">
		<div class="left">
			<div class="likes-container">
				<a href="#" (click)="upvote($event)" class="like-button up-vote">
					<span></span>
				</a>
				<span class="like-counter">{{ model.likesCount }}</span>
				<a href="#" (click)="downvote($event)" class="like-button down-vote">
					<span></span>
				</a>
			</div>
		</div>
		<div class="right">
			<h1>{{ model.title }}</h1>
			<p>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
					magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
					ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
					consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent
					luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
					Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
					magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
					ut aliquip ex ea commodo consequat.
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
					magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
					ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
					consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio digniss
			</p>
		</div>
	</div>
	<div class="comment-section">
		<a href="#" class="comment-button" (click)="addComment($event)">
			<span>Comment</span>
		</a>
		<div class="existing-comments">
			<div class="existing-comment" *ngFor="let comment of comments.reverse()">
				<div class="post">
					<h1 class="poster-name">{{ comment.posterName }}</h1>
					<p class="post-text">{{ comment.text }}<p>
				
				</div>
				<div class="comment-controls">
					<div class="inner">
						<a href="#" class="comment-button" (click)="editComment($event, comment.id)">
							<span>Edit</span>
						</a>
						<a href="#" class="comment-button" (click)="removeComment($event, comment.id)">
							<span>Delete</span>
						</a>
					</div>
				</div>
				<hr class="existing-comment-break">
			<div>
		</div>
	</div>
</div>
	
