body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

a {
   text-decoration: none;
}

.fade {
    background: #000000;;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

