.container {
    background: #e1e9ed;
    width: 100%;
}

header {
    padding-top: 20px;
}

nav {
    padding: 40px 0 40px 230px;
}

nav > ul > li {
    display: inline-block;
    margin-right: 60px;
}

nav > ul > li > a {
    color: #112433;
    text-transform: uppercase;
    display: block;
}


#logo {
    display: inline-block;
    margin-left: 20px;
}

#header-title {
    display: inline-block;
    color: #112433;
    font-weight: bold;
    font-size: 72px;
    text-transform: uppercase;
    margin-left: 20px;
}


.copyright {
    background: #112433;
    padding: 10px 0 10px 230px;
}

.copyright span {
    color: #e1e9ed;
}
