<app-comment></app-comment>
<div class="container">
	<header>
		<div id="logo">
			<img src="./assets/images/logo.png" width="180" height="180">
		</div>
		<span id="header-title">Web<br> Design<br> Blog</span>
	</header>
	<nav>
		<ul>
			<li><a href="#">HOME</a></li>
			<li><a href="#">ABOUT</a></li>
			<li><a href="#">PORTFOLIO</a></li>
			<li><a href="#">BLOG</a></li>
		</ul>
	</nav>
	<ul class="articles">
		<li *ngFor="let article of articles; let i = index">
			<app-article [model]="article" [cssClass]="i % 2 == 0 ? 'odd' : 'even'"></app-article> 
		</li>
	</ul>
	<div class="copyright">
		<span>Copyright 2017</span>
	</div>
</div>

