<div class="comment" [hidden]="!isVisible" #container>
	<form [formGroup]="commentForm" novalidate (ngSubmit)="submitComment()">
	<div class="inner">
		<a href="#" class="close-button" (click)="close($event)"></a>
		<h1 class="title">Add Comment</h1>
		<div class="field">
			<label for="comment-title">Your name*</label>
			<input type="text" formControlName="posterName" placeholder="Your name">
			<span *ngIf="validate('posterName', 'required')" class="error">
				Name is required
			</span>
		</div>
		<div class="field">
			<label for="comment-text">Your comment*</label>
			<textarea rows=10 formControlName="text">
			</textarea>
			<span [ngClass]="'char-count' + (validate('text', 'characterCount') ? ' error' : '')">{{ countMessage }}</span>
			<span *ngIf="validate('text', 'required')" class="error">
				Text is required
			</span>
		</div>
		<div class="field">
			 <button class="save-button" type="submit" [disabled]="!commentForm.valid">Save</button>
		</div>
	</div>
	</form>
</div>
