.comment {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 60%;
    background: #ffffff;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 10px 10px 99px -21px rgba(0,0,0,0.61);
}

.inner {
    position: relative;
}

.title {
    width: 100%;
    border-bottom: 2px solid #7a3053;
    padding: 10px 0 10px 0;
    margin-bottom: 30px;
    font-size: 20px;
}

.close-button {
    width: 34px;
    height: 34px;
    background: url("../../assets/images/cross.jpg") no-repeat 0 0 transparent;
    position: absolute;
    top: 0;
    right: 0;
}

.close-button:hover {
    background-position: center right;
}

.comment .field {
    field: 100%;
    padding: 5px 0 20px 0;
}

.comment .field label {
    width: 100%;
    font-size: 14px;
}

.comment .field input[type="text"] {
    width: 100%;
    font-size: 16px;
    border: none;
    padding: 10px 0px;
    border-bottom: 2px solid #7a3053;
}

.comment .field input[type="text"]:hover {
    color: #112433;
    outline: none;
    border-bottom: 2px solid #112433;
}

.comment textarea {
    font-size: 16px;
    border: none;
    width: 100%;
    text-align: justify;
    white-space: normal;
    border-bottom: 2px solid #7a3053;
}

.comment .save-button {
    background: #517a38;
    padding: 10px 20px;
    border: none;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
}

.comment .save-button:hover {
    background: #3d692a;
}

.comment .char-count {
    padding-top: 4px;
    font-size: 16px;
}

.comment .char-count.error {
    color: #ff0000;
}

.error {
    color: #ff0000;
    display: block;
}
